<div class="row mt-3 mb-3">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/favorites']">
          Favorites
          <span class="badge badge-pill badge-secondary">{{ likeCount }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
