<div class="row">
  <div class="col">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" (click)="previous()">Previous</a></li>
      <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
    </ul>
  </div>
  <div class="col text-right">
    <nav>
      <small>
        Page: {{ currentPageNumber }} of {{ totalPageCount }} Showing: {{ numberOfRecordsDisplayed }} of {{ total }} records
      </small>
    </nav>
  </div>
</div>

