<div class="person-list" [className]="sortable === true ? 'sortable': ''">
  <div class="no-data" *ngIf="people && people.length === 0 && !loading">
    Sorry no data found
  </div>
  <div class="loading" *ngIf="loading">
    Loading ...
  </div>

  <div class="content" *ngIf="people && people.length && !loading">

    <div cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="sortable">
      <jjp-person
        cdkDrag
        *ngFor="let person of people"
        (favoriteChange)="onFavoriteChange($event, person)"
        [person]="person">
      </jjp-person>
    </div>

    <div *ngIf="!sortable">
      <jjp-person
        *ngFor="let person of people"
        (favoriteChange)="onFavoriteChange($event, person)"
        [person]="person">
      </jjp-person>
    </div>

  </div>
</div>
