<div class="container-favorites">

  <jjp-header [likeCount]="likeCount"></jjp-header>

  <h1>Favorites</h1>

  <div class="row">
    <div class="col">
      <jjp-person-list
        [sortable]="true"
        (favoriteChange)="onFavoriteChange()"
        [loading]="loading"
        [people]="data">
      </jjp-person-list>
    </div>
  </div>
</div>
