<div class="container-home">

  <jjp-header [likeCount]="likeCount"></jjp-header>

  <h1>Heroes</h1>

  <div class="row">
    <div class="col">
      <jjp-person-search-box
        (change)="onSearchBoxChange($event)">
      </jjp-person-search-box>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <jjp-paginator
        (change)="onPaginationChange($event)"
        [numberOfRecordsDisplayed]="data.length"
        [total]="totalRecordsCount">
      </jjp-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <jjp-person-list
        (favoriteChange)="onFavoriteChange($event)"
        [loading]="loading"
        [people]="data">
      </jjp-person-list>
    </div>
  </div>


</div>
