<div class="card mb-3" *ngIf="person">
  <div class="card-body">
    <h5 class="card-title">{{ person.name }}</h5>
    <p class="card-text">
      Birth Year: {{ person.birth_year }}<br />
      Homeworld: <jjp-planet
        *ngIf="person && person.homeworld"
        [planetResourceUrl]="person.homeworld"
      ></jjp-planet>
    </p>
    <jjp-favorite-button
      [person]="person"
      (change)="onFavoriteChange($event)">
    </jjp-favorite-button>
  </div>
</div>
